.styles_modal__gNwvD {
  max-width: 60rem !important;
  width: 70% !important;
}

.modal-popup {
  padding: 3rem;
  input,
  textarea {
    width: 100% !important;
  }
}

.closeButton,
.closeIcon {
  cursor: pointer !important;
}