.header {
  @include gradientMain;
  width: 100%;
  height: 7rem;
  box-shadow: 0 4px 26px -2px rgba(0, 0, 0, .3);
  &__title {
    background: $color-white;
    padding: 6px 24px;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .2);
    h1 {
      @include textGradient;
      font-size: 3rem !important;
    }
  }
}